html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}
hr {
  border-color: rgba(255, 0, 0, 0.7);
  border-width: 3px;
  max-width: 50px;
}
hr.light {
  border-color: white;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: rgba(255, 0, 0, 0.7);
}
a:hover,
a:focus {
  color: rgba(204, 0, 0, 0.7);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica Neue', 'Open Sans', Arial, sans-serif;
}
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.bg-primary {
  background-color: rgba(255, 0, 0, 0.7);
}
.bg-dark {
  background-color: #222;
  color: white;
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}
section {
  padding: 100px 0;
}
aside {
  padding: 50px 0;
}
.no-padding {
  padding: 0;
}
.navbar-default {
  background-color: white;
  border-color: rgba(34, 34, 34, 0.05);
  font-family: 'Helvetica Neue', 'Open Sans', Arial, sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.navbar-default .navbar-header .navbar-brand {
  color: rgba(255, 0, 0, 0.7);
  font-family: 'Helvetica Neue', 'Open Sans', Arial, sans-serif;
  font-weight: 700;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: rgba(204, 0, 0, 0.7);
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  font-weight: 700;
  font-size: 13px;
  color: #222;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: rgba(255, 0, 0, 0.7);
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: rgba(255, 0, 0, 0.7) !important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.3);
  }
  .navbar-default .navbar-header .navbar-brand {
    font-family: "Futura", sans-serif;
    color: rgba(255, 0, 0, 0.6);
  }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: white;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: white;
  }
  .navbar-default.affix {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.05);
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    color: rgba(255, 0, 0, 0.7);
    font-size: 14px;
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: rgba(204, 0, 0, 0.7);
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #222;
  }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: rgba(255, 0, 0, 0.7);
  }
}
header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: bottom;
  background-color: #e3e3e3;
  text-align: center;
  color: white;
}
header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}
header .header-content .header-content-inner h1 {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}
header .header-content .header-content-inner hr {
  margin: 30px auto;
}
header .header-content .header-content-inner p {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
  font-size: 16px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
.row div {
  padding-bottom: 20px;
}
.img-container {
  min-height: 500px;
}
a,
a:hover {
  text-decoration: none;
}
.section-heading {
  margin-top: 0;
}
.service-box {
  max-width: 400px;
  margin: 50px auto 0;
}
@media (min-width: 992px) {
  .service-box {
    margin: 20px auto 0;
  }
}
.service-box p {
  margin-bottom: 0;
}
.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}
.portfolio-box .portfolio-box-caption {
  color: white;
  opacity: 0;
  display: block;
  background: rgba(255, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-family: 'Helvetica Neue', 'Open Sans', Arial, sans-serif;
  padding: 0 15px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}
.portfolio-box:hover .portfolio-box-caption {
  opacity: .8;
}
@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}
.call-to-action h2 {
  margin: 0 auto 20px;
}
.text-primary {
  color: rgba(255, 0, 0, 0.7);
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.btn-default {
  color: #222;
  background-color: white;
  border-color: white;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #222;
  background-color: #f2f2f2;
  border-color: #ededed;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: white;
  border-color: white;
}
.btn-default .badge {
  color: white;
  background-color: #222;
}
.btn-primary {
  color: white;
  background-color: rgba(255, 0, 0, 0.7);
  border-color: rgba(255, 0, 0, 0.7);
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: white;
  background-color: rgba(230, 0, 0, 0.7);
  border-color: rgba(219, 0, 0, 0.7);
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: rgba(255, 0, 0, 0.7);
  border-color: rgba(255, 0, 0, 0.7);
}
.btn-primary .badge {
  color: rgba(255, 0, 0, 0.7);
  background-color: white;
}
.btn {
  font-family: 'Helvetica Neue', 'Open Sans', Arial, sans-serif;
  border: none;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase;
}
.btn-xl {
  padding: 15px 30px;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #222;
}
::selection {
  color: white;
  text-shadow: none;
  background: #222;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body {
  webkit-tap-highlight-color: #222;
}
#logo {
  margin: 5px;
}
body {
  font-family: 'open sans condensed', sans-serif;
}
section {
  background-color: #e3e3e3;
}
.img-container img {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: whitesmoke;
  border: solid 1px #ddd;
  border-radius: 7px;
}
.navbar {
  min-height: 50px;
  margin-bottom: 0px;
}
.navbar .logo-header {
  background-color: #e3e3e3;
}
.navbar .navbar-right .dropdown-menu {
  right: auto;
}
.navbar .navbar-nav > li > .dropdown-menu {
  margin-top: auto;
  background: none;
  border: none;
  box-shadow: none;
}
.navbar .navbar-nav > li > .dropdown-menu li {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 7px;
  background-color: white;
}
.navbar .navbar-nav > li > .dropdown-menu li:hover {
  background-color: #cfa883;
  color: white;
}
.navbar .navbar-nav > li > .dropdown-menu li a {
  padding: 0;
  background: none;
}
.nav-links {
  background-color: #fff;
  margin: 0 !important;
}
.navbar-default li {
  width: 155px;
  text-align: center;
}
.navbar-default li a {
  font-family: Open Sans, sans-serif !important;
  font-weight: 300 !important;
}
.navbar-default li:hover {
  background-color: #cfa883;
}
.navbar-default li:hover > a {
  color: white !important;
}
.navbar-default .nav-links .nav > li > a,
.navbar-default .nav > li > a:focus {
  color: black;
}
#status-alert {
  top: 50px;
  padding: 15px;
  margin-bottom: 25px;
  background-color: #ff4c4c !important;
}
#status-alert p {
  margin: 0;
  color: white;
}
.alert-dismissable .close {
  top: 0;
  right: 0;
}
.content-output p {
  font-size: inherit;
  color: inherit;
}
p.content-output p {
  margin: 0;
  padding: 0;
}
#portfolio {
  padding-bottom: 150px;
}
#portfolio .row div {
  padding-bottom: 0;
}
#portfolio #hardwood-panel .panel-image {
  background-image: url('../images/image1.jpg');
  border-top: none;
}
#portfolio #tile-panel .panel-image {
  background-image: url('../images/image3.jpg');
  border-bottom: none;
}
#portfolio #backsplash-panel .panel-image {
  background-image: url('../images/image2.jpg');
  border-top: none;
}
#portfolio #bath-panel .panel-image {
  background-image: url('../images/image5.jpg');
  border-bottom: none;
}
#portfolio .panel-container {
  height: 400px;
}
#portfolio .panel-label {
  text-transform: uppercase;
  text-align: right;
  font-size: 24px;
  height: 75px;
  border: solid 2px white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #cc9553;
  color: white;
  border: solid 5px white;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'open sans condensed', sans-serif;
  position: relative;
}
#portfolio #hardwood-panel .panel-label,
#portfolio #backsplash-panel .panel-label {
  text-align: right;
}
#portfolio #hardwood-panel .panel-label .inner-diamond,
#portfolio #backsplash-panel .panel-label .inner-diamond {
  height: 25px;
  width: 25px;
  background-color: white;
  position: absolute;
  left: 15px;
  bottom: -12px;
  transform: rotate(45deg);
  z-index: 999;
}
#portfolio #tile-panel .panel-label,
#portfolio #bath-panel .panel-label {
  text-align: left;
}
#portfolio #tile-panel .panel-label .inner-diamond,
#portfolio #bath-panel .panel-label .inner-diamond {
  height: 25px;
  width: 25px;
  background-color: white;
  position: absolute;
  right: 15px;
  top: -12px;
  transform: rotate(45deg);
  z-index: 999;
}
#portfolio .panel-image {
  background-size: cover;
  height: 320px;
  border: solid 5px white;
  position: relative;
}
#portfolio .panel-image .inner-border {
  border: solid 2px white;
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
}
#portfolio .portfolio-box {
  max-width: 400px;
}
hr {
  border-color: #cc9553;
}
.footer {
  padding-bottom: 15px;
}
.footer .address {
  padding-bottom: 0;
  padding-left: 20px;
}
.footer .address p {
  margin-bottom: 0;
}
.footer .houzz-container {
  padding-right: 20px;
}
.backstretch {
  position: relative;
  width: 100%;
  min-height: auto;
  min-height: 60%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: bottom;
  background-color: #e3e3e3;
  opacity: .8;
  text-align: center;
  color: white;
  font-family: 'open sans condensed', sans-serif;
}
.hardwood-backstretch {
  background-image: url("../images/hardwood/2010-12-14 12.18.12.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.tile-backstretch {
  background-image: url("../images/tile/2008-01-11 13.53.05.jpg");
}
.backsplash-backstretch {
  background-image: url("../images/backsplash/IMG_20151005_154912749.jpg");
}
.bath-backstretch {
  background-image: url("../images/bath/IMG_20170405_125918772.jpg");
}
.carpet-backstretch {
  background-image: url("../images/image10.jpg");
}
.page-content {
  background-color: whitesmoke;
  border: solid 1px #ddd;
  border-radius: 7px;
  padding-left: 20px;
  margin-bottom: 50px;
}
.page-section {
  padding-top: 50px;
}
.navbar-collapse.in {
  overflow-y: visible;
}
#about .page-content {
  min-height: 300px;
  padding: 20px;
}
#about .page-content.about-us-img {
  background-image: url(../images/image2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 7px whitesmoke;
}
