
section {
    background-color: #e3e3e3;
}


//image gallery and lightbox


.img-container img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
//included
//div.row div.thumb {
//    display:inline-block;
//    width: 33%;
//    
//    
//    img {
//        width: 40%;
//    }
//}


//nav overrides and stuff

.navbar {
    min-height: @nav-height;
    margin-bottom: 0px;
    .logo-header {
        background-color: #e3e3e3;
    }
}

.nav-links {
    background-color: #fff;
    margin:0 !important;
}

.navbar-default .nav-links .nav > li > a, .navbar-default .nav > li > a:focus {
    color:black;
}
#status-alert {
    top: @nav-height;
    padding: 15px;
    margin-bottom: 25px;
    background-color: rgb(255, 76, 76) !important;
    p {
        margin: 0;
        color:white;
    }
    
}
&.alert-dismissable {
    .close {
        top: 0;
        right: 0;
    }
}

.content-output p {
    font-size: inherit;
    color: inherit;
}

p.content-output p {
    margin: 0;
    padding: 0;
}

#portfolio {
    //override dumb
    .row div {
        padding-bottom: 0;
    }
    #hardwood-panel .panel-image {
        background-image: url('http://st.hzcdn.com/simgs/2bb11e8f012f9493_8-2729/hardwood-flooring.jpg')
    }
    #tile-panel .panel-image {
        background-image: url('http://st.hzcdn.com/simgs/75518a970130d53d_8-4819/wall-and-floor-tile.jpg')
    }
    #backsplash-panel .panel-image {
        background-image: url('http://st.hzcdn.com/simgs/5a01a071012f8488_8-8622/traditional.jpg')
    }
    #bath-panel .panel-image {
        background-image: url('http://st.hzcdn.com/simgs/f791c9ff012fa947_8-8028/traditional.jpg')
    }
    .panel-container {
        height: 400px;
    }
    .panel-label {
        text-transform: uppercase;
        text-align: center;
        font-size: 18px;
        line-height: 36px;
        height: 75px;
        border: solid 2px white;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .panel-image {
        background-size: cover;
        height: 320px;
    }
    .portfolio-box {
        border: solid 5px white;
        max-width: 400px;
    }
}
