---

layout: gallery
title: Hardwood
page: hardwood

---

{% include hardwood.md %}


<!-- the images for this page will be automatically outputted with the gallery layout -->

<!--

{% for image in site.static_files %}
    {% if image.path contains 'img' and image.path contains page.page %}
        <div class="col-xs-12 col-md-4 img-container">
            <a href="{{ site.baseurl }}{{ image.path }}" data-lightbox="{{i}}">
                <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
            </a>
        </div>
    {% endif %}
{% endfor %}-->
