<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Exceptional experience.</h2>
                <hr class="light">
                <div class="text-faded">
                    Floor Pro has over 30 years of experience in the industry. 
                    <a href="#contact" class="btn btn-default btn-xl wow tada">Get an Estimate</a>
                </div>
            </div>
        </div>
    </div>
</section>