<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading content-output">
                    {% for about-main in site.homepage-content %}
                        {% if about-main.content-area == 'about-main' %}
                            {{about-main}}
                        {% endif %}
                    {% endfor %}
                </h2>
                <hr class="light">
                <div class="text-faded content-output">
                    {% for about-detail in site.homepage-content %}
                        {% if about-detail.content-area == 'about-detail' %}
                            {{about-detail}}
                        {% endif %}
                    {% endfor %}
                    <a href="#contact" class="btn btn-default btn-xl wow tada">Get an Estimate</a>
                </div>
            </div>
        </div>
    </div>
</section>