<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h2 class="section-heading content-output">
                    About Us
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 text-center">
                <div class="page-content">
                    <img src="../images/image2.jpg" />
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="page-content">
                    <p>This is where information about the company would go.</p>
                </div>
            </div>

        </div>
    </div>
</section>