<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h2 class="section-heading content-output">
                    Contact Us
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="page-content about-us-img">
                    
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="page-content">
                    
                    <h3>Floor Pro</h3>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <i class="fa fa-map-marker fa-3x wow bounceIn col-lg-2 col-md-2 col-sm-6"></i>
                        <p class="col-lg-10 col-md-10 col-sm-6">3520 Hwy 41 N Ste:1000<br> Byron, GA 31008</p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <i class="fa fa-phone fa-3x wow bounceIn col-lg-2 col-md-2 col-sm-6"></i>
                        <p class="col-lg-10 col-md-10 col-sm-6">(478) 956-0443</p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <i class="fa fa-envelope-o fa-3x wow bounceIn col-lg-2 col-md-2 col-sm-6" data-wow-delay=".1s"></i>
                        <p class="col-lg-10 col-md-10 col-sm-6"><a href="mailto:	rich.d.patrick@gmail.com">	rich.d.patrick@gmail.com</a></p>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
</section>