    <aside class="bg-dark">
        <div class="container text-center">
            <p class="text-muted"><i class="fa fa-copyright"></i>Floor Pro 2016 <br> 41N 3520 HWY #1000<br> Byron, GA 31008</p>
        </div>
    </aside>
    
    
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/backstretch.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>
    
    <!-- lightbox js -->
    <link href="lightbox/src/js/lightbox.js" rel="stylesheet">
    
    <script>
    $('.backstretch').backstretch([
      "http://st.hzcdn.com/simgs/6c61825701ba01a3_8-4618/traditional.jpg"
    , "img/home-design.jpg"
    , "img/hardwood-flooring.jpg"
    , "img/backsplash.jpg"
  ], {duration: 5000, fade: 750});
    </script>

</body>

</html>