    <aside class="footer">
        <div class="row">
            <div class="col-lg-8">
                <div class="address">
                    <p class="muted"><i class="fa fa-copyright"></i>Floor Pro 2016 <br> 3520 Hwy 41 N Ste:1000<br> Byron, GA 31008</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="houzz-container">
                    <a href="http://www.houzz.com/pro/floorprosouth/floor-pro-south-llc" target="_blank">
                        <img class="accoladeImg" src="http://www.houzz.com/pic/badge_16_8.png" alt="Best of Houzz 2015 - Client Satisfaction" title="Best of Houzz 2014 - Client Satisfaction"/>
                        <img class="accoladeImg" src="http://houzz.com/pic/badge_13_8.png" alt="Best of Houzz 2014 - Client Satisfaction" title="Best of Houzz 2014 - Client Satisfaction"/>
                        <img class="accoladeImg" src="http://www.houzz.com/pic/badge_19_8.png" alt="Houzz Influencer" title="Houzz Influencer" />
                        <img class="accoladeImg" src="http://www.houzz.com/pic/badge_20_8.png" alt="Recommended on Houzz" title="Recommended on Houzz" />
                    </a>
                </div>
            </div>
        </div>
    </aside>
    
    
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/backstretch.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>

    <!-- Custom functions -->
    <script src="js/custom.js"></script>
    
    <!-- lightbox js -->
    <script src="lightbox/src/js/lightbox.js"></script>
    
    <script>
        $(document).ready(function() {
            /*$('.backstretch').backstretch([
              "http://st.hzcdn.com/simgs/6c61825701ba01a3_8-4618/traditional.jpg"
            , "images/home-design.jpg"
            , "images/hardwood-flooring.jpg"
            , "images/backsplash.jpg"
          ], {duration: 5000, fade: 750});
            */
            
            $('#status-alert a.close').click(function() {
                
            });
            checkAlertCookie();
            
            $('ul.nav li.dropdown').hover(function() {
                console.log('hi');
              $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
            }, function() {
              $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
            });
        });
    </script>

</body>

</html>