<section id="portfolio">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-3 col-sm-3">
                <div class="portfolio-box">
                    <div id="hardwood-panel" class="panel-container">
                        <div class="panel-label">
                            Hardwood
                            <div class="inner-diamond"></div>
                        </div>
                        <div class="panel-image">
                            <div class="inner-border"></div>
                            
                        </div>
  
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="portfolio-box">
                    <div id="tile-panel" class="panel-container">
                        <div class="panel-image">
                            <div class="inner-border"></div>
                            
                        </div>
                        <div class="panel-label">
                            Tile
                            <div class="inner-diamond"></div>
                        </div>
  
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="portfolio-box">
                    <div id="backsplash-panel" class="panel-container">
                        <div class="panel-label">
                            Backsplashes
                            <div class="inner-diamond"></div>
                        </div>
                        <div class="panel-image">
                            <div class="inner-border"></div>
                            
                        </div>
  
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="portfolio-box">
                    <div id="bath-panel" class="panel-container">
                        <div class="panel-image">
                            <div class="inner-border"></div>
                            
                        </div>
                        <div class="panel-label">
                            Showers
                            <div class="inner-diamond"></div>
                        </div>
                        
  
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>