<section id="portfolio">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-3 col-sm-3">
                <a href="hardwood.html" class="portfolio-box">
                    <div id="hardwood-panel" class="panel-container">
                        <div class="panel-label">
                            Hardwood Flooring
                        </div>
                        <div class="panel-image">
                        
                        </div>
  
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-3">
                <a href="tile.html" class="portfolio-box">
                    <div id="tile-panel" class="panel-container">
                        <div class="panel-label">
                            Stone & Tile
                        </div>
                        <div class="panel-image">
                        
                        </div>
  
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-3">
                <a href="backsplash.html" class="portfolio-box">
                    <div id="backsplash-panel" class="panel-container">
                        <div class="panel-label">
                            Backsplashes
                        </div>
                        <div class="panel-image">
                        
                        </div>
  
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-3">
                <a href="bath.html" class="portfolio-box">
                    <div id="bath-panel" class="panel-container">
                        <div class="panel-label">
                            Tubs & Showers
                        </div>
                        <div class="panel-image">
                        
                        </div>
  
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>