<section id="portfolio">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-3 col-sm-3">
                <a href="hardwood.html" class="portfolio-box">
                    <div class="panel-content">
                        <div class="portfolio-label">
                            Hardwood Flooring
                        </div>
                        <img src="http://st.hzcdn.com/simgs/2bb11e8f012f9493_8-2729/hardwood-flooring.jpg" class="img-responsive center-block" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Hardwood Flooring
                                </div>
    <!--
                                <div class="project-name">
                                    Project Name
                                </div>
    -->
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-3">
                <a href="tile.html" class="portfolio-box">
                    <img src="http://st.hzcdn.com/simgs/75518a970130d53d_8-4819/wall-and-floor-tile.jpg" class="img-responsive center-block" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Stone & Tile Flooring
                            </div>
<!--
                            <div class="project-name">
                                Project Name
                            </div>
-->
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-3">
                <a href="backsplash.html" class="portfolio-box">
                    <img src="http://st.hzcdn.com/simgs/5a01a071012f8488_8-8622/traditional.jpg" class="img-responsive center-block" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Backsplashes
                            </div>
<!--
                            <div class="project-name">
                                Project Name
                            </div>
-->
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-3">
                <a href="bath.html" class="portfolio-box">
                    <img src="http://st.hzcdn.com/simgs/f791c9ff012fa947_8-8028/traditional.jpg" class="img-responsive center-block" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Tubs & Showers
                            </div>
<!--
                            <div class="project-name">
                                Project Name
                            </div>
-->
                        </div>
                    </div>
                </a>
            </div>


        </div>
    </div>
</section>