<header class="backstretch">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>{{ content }}</h1>
                <br><br>
                <div class="row">
                    <a href="http://www.houzz.com/pro/floorprosouth/floor-pro-south-llc" target="_blank">
                        <img class="accoladeImg" src="http://www.houzz.com/pic/badge_16_8.png" alt="Best of Houzz 2015 - Client Satisfaction" title="Best of Houzz 2014 - Client Satisfaction"/>
                        <img class="accoladeImg" src="http://houzz.com/pic/badge_13_8.png" alt="Best of Houzz 2014 - Client Satisfaction" title="Best of Houzz 2014 - Client Satisfaction"/>
                        <img class="accoladeImg" src="http://www.houzz.com/pic/badge_19_8.png" alt="Houzz Influencer" title="Houzz Influencer" />
                        <img class="accoladeImg" src="http://www.houzz.com/pic/badge_20_8.png" alt="Recommended on Houzz" title="Recommended on Houzz" />
                    </a>
                </div>

        </div>
    </div>
</header>