{% include head.html %}
    {% include nav.html %}
<header class="{{page.page}}-backstretch backstretch">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
</header>
<section id="services" class="page-section">
    <div class="container">
        {% if content != "" %}
        <div class="row page-content">
            <p>{{ content }}</p>
        </div>
        {% endif %}
        <div class="row">
            {% for image in site.static_files %}
                {% if image.path contains 'image' and image.path contains page.page %}
                    <div class="col-xs-12 col-md-4 img-container">
<!--                        <a href="{{ site.baseurl }}{{ image.path }}" data-lightbox="thumb-nail">-->
                        <a href="{{ site.url }}{{ image.path }}" data-lightbox="thumb-nail">
                            <img src="{{ site.url }}{{ image.path }}" alt="image" class="img-responsive"/>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

{% include foot.html %}

<script>
    $(document).ready(function() {
      if (window.innerWidth < 1024) {
        $('.img-container a').click(
            function(e){
                e.preventDefault();
            }
        );
      }

            
    });
</script>
